# usually runtime stuff
*.pyc
*.[ox]
*.log
*.so
*a.out
*.swp

# hidden vim-session files
.*.vim

*.png
*.dat
*.h5*
*.nc

_*

# vim sessions
.*.vim

# cython-generated code
src/cython_wrapper.cpp

# to be consistent with the data-repository inside out/
out/*.h5

#EOF
